@{
    ViewData["Title"] = "Buổi học số 3";
}

<h1> @ViewData["Title"]</h1>

<h2> Nội dung </h2>
<ul>
    <li>Cách tạo project .net MVC</h2>
    <li>Namespace là gì</h2>
    <li>Cách tạo Controller và View</h2>
    <li>Điều hướng route trong MVC</h2>
    <li>IActionResult là gì? Các kiểu trả về: ViewResult, RedirectResult, RedirectToActionResult, JsonResult, FileResult, StatusCodeResult</li>
     
     <ul>
        <li> ViewResult</li>
        <li> RedirectResult</li>
        <li> RedirectToActionResult</li>
        <li> JsonResult</li>
        <li> FileResult</li>
        <li> StatusCodeResult</li>

</ul>