<form asp-action="Index" method="Post">
    <lavel>Họ Tên</label>
   <input type="text" name="HoTen" placehorder="Nhập tên" />

   <label>Năm sinh</label>
   <input type="number" name="YearOfBirth" placehorder="Nhập năm" />

   <button type="submit">Gửi ngay</button>



 
</form>

@if (ViewBag.ThongBao !=null)
{
   <p> @Html.Raw(ViewBag.ThongBao) </p>
}
